
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


:root{
    /*--primary:#1A5796;
    --secondary:#48cae4;*/
    --primary:#48cae4;
    --secondary:#1A5796;
   
    --black:#333;
    --white:#fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.dark_theme{

  

    --black:#000106;
    --white:#000106;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.dark_theme .heading{
    color:var(--white);
}
.dark_theme .top-header{
    background: rgb(32, 32, 30);
}
.dark_theme .header .navbar a{
    color:white;
}
.dark_theme .header .navbar a i{
    color:white;
}
.dark_theme .header a i{
    color:white;
}
.dark_theme .header a {
    color:white;
}

.dark_theme .swiper-button-next,
.dark_theme .swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: black;
    color: white;
}

.dark_theme .swiper-button-next:hover,
.dark_theme .swiper-button-prev:hover{
    background: var(--white);
    color: #1A5796;
  
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: .5rem;
}

section{
    padding: 5rem 7%;
}

.heading{
    font-size: 4rem;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}


.dark_theme .heading{
    font-size: 4rem;
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}



.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.dark_theme .btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--primary);
    border-radius: .5rem;
    color:white;
    font-size: 1.7rem;
    cursor: pointer;
}
.dark_theme .room{
    background: #000106;

}
.dark_theme .services{
    background-color: #000106;
}
.dark_theme .gallery{
    background-color: #000106;
}
.dark_theme .rev{
    background-color: #000106;
}
.dark_theme .about{
    background-color: #000106;
}
.dark_theme .faqs{
    background-color: #000106;
}
.dark_theme .footer{
    background-color: #000106;
}
.dark_theme .reservation{
    background-color: #000106;
}

#switch{
    border-radius: 5% ;
}
.btn:hover{
    background: var(--secondary);
}
.user-icon i{
  width: 50px;
  height: 50px;

}

/* div l blue*/

.top-header {
    padding: 10px 0;
  }
  
  .top-header-bg {
    background-color: #48cae4;
  }
  
  .top-header-bg-two {
    background-color: transparent;
    z-index: 2;
    position: relative;
  }
  
  .top-header-bg-3 {
    background-color: #48cae4;
  }
  
  .header-left {
    text-align: left;
    z-index: 1;
    position: relative;
  }
  .header-left .header-left-card ul {
    margin-left: 250px;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .header-left .header-left-card ul li {
    display: inline-block;
    text-align: left;
    position: relative;
    padding-left: 7px;
    color: #ffffff;
    margin-right: 100px;
   
  }
  .header-left .header-left-card ul li:last-child {
    margin-right: 0;
  }
  .header-left .header-left-card ul li .head-icon { /*email and location*/
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 52%;
    transition: 0.5s;
    transform: translateY(-50%);
  }
  .header-left .header-left-card ul li a {
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px;
  }
  .header-left .header-left-card ul li a li{
    display: inline-block;
    color: #ffffff;
    font-size: 30px;

  }
  .header-left .header-left-card ul li:hover .head-icon {
    color: #16213E;
  }
  .header-left .header-left-card ul li:hover a {
    color: #16213E;
  }
  .header-left .header-left-card ul li:hover a li {
    color: #16213E;
  
  }
  
  .header-right {
    float: right;
  }
  .top-social-link {
    float: right;
  }
  .top-social-link {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .top-social-link{
    display: inline-block;
    margin-right: 5px;
  }
  .top-social-link a {
    margin-top: 0;
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    color: red;
    border-radius: 50px;
  }
  .top-social-link a:hover {
    background-color: #ffffff;
    color: #16213E;
  }
.header{
    margin-top: 40px;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo{
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #1A5796;
}

.header .logo i{
    margin-top: 0;
    color: #48cae4;
    padding-right: .5rem;
}

.header .navbar a{
    margin-top: 0;
    font-size: 1.7rem;
    color: #1A5796;
    margin: 0 1rem;
    
}

.header .navbar a:hover{
    margin-top: 0;
    color: #48cae4;
}

.header .navbar .btn{
    margin-top: 0;
    color: var(--white);
}

.header .navbar .btn:hover{
    color: var(--white);
}
.header .user i{
    margin-top: 0;
    color: #48cae4;
    padding-left: 50px;
}
#menu-btn{
    display: none;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--black);
}

#menu-btn:hover{
    color: red;
}

/* end */

/* home */

.home{
    padding: 0;
}

.home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.home .slide .content{
    width: 80rem;
    text-align: center;
}

.home .slide .content h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--white);
    line-height: 1.1;
    padding: 2rem 0;
}

.swiper-button-next,
.swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: var(--white);
    color: var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--primary);
    color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

/* end */


/* end */

/* about */

.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
}

.about .row .image{
    flex: 1 1 30rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 51rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color: var(--primary);
    padding: 2rem 0;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #1A5796;
    padding: 1rem 0;
    line-height: 1.8;
}

/* end */

/* rooms */

.room .slide{
    background: var(--white);
    border: .1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 4rem;
}

.room .slide .image{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.room .slide .image img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.room .slide .image .price{
    position: absolute;
    top: 2.5rem; left: 2.5rem;
    background: var(--primary);
    color: var(--white);
    font-size: 1.7rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-transform: lowercase;
}

.room .slide .image .fa-shopping-cart{
    position: absolute;
    top: 2.5rem; right: 2.5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 2rem;
    background: var(--white);
    color: var(--black);
    border-radius: 50%;
}

.room .slide .image .fa-shopping-cart:hover{
    background: var(--secondary);
    color: var(--white);
}

.room .slide .content{
    padding: 2rem;
    padding-top: 0;
}

.room .slide .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.room .slide .content p{
    font-size: 1.6rem;
    color: #666;
    padding: .5rem 0;
    line-height: 1.5;
}

.room .slide .content .stars{
    padding: 1rem 0;
}

.room .slide .content .stars i{
    font-size: 1.7rem;
    color: yellow;
}

/* end */

/* services */

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
    gap: 2rem;
}

.services .box-container .box{
    text-align: center;
}

.services .box-container .box img{
    height: 10rem;
    margin-bottom: .7rem;
}

.services .box-container .box h3{
    font-size: 1.7rem;
    color: var(--black);
    padding: .5rem 0;
}

/* end */

/* gallery */

.gallery .slide{
    height: 30rem;
    position: relative;
    overflow: hidden;
}

.gallery .slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .slide .icon{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.gallery .slide .icon i{
    font-size: 6rem;
    color: var(--white);
}

.gallery .slide:hover .icon{
    display: flex;
}

/* end */

/* review */

.review{
    background-image: url("images/review.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 48rem;
    position: relative;
    margin: 4rem 0;
}


.review .review-slider{   /* hyda el bg l dark blue te3 review*/
    background: var(--secondary);
    padding: 2rem;
    width: 40%;
    height: 145%;
    margin-top: -8rem;
    margin-left: 60%;
    padding-top: 6%;
    color: var(--white);
    box-shadow: var(--box-shadow);
}


.review .slide{
    text-align: center;
}

.review .slide .heading{
    color: var(--white);
}

.review .slide i{
    font-size: 6rem;
    color: var(--primary);
}

.review .slide p{
    padding-bottom: 1.5rem;
    padding-top: 3rem;
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--white);
}

.review .slide .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-radius: .5rem;
}


.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 15%;
    object-fit: cover;
}

.review .slide .user h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1.3rem;
    color: yellow;
}

/* end */

/* faq */

.faqs .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.faqs .row .image{
    flex: 1 1 40rem;
}


.faqs .row .image img{
    width: 100%;
}

.faqs .row .content{
    flex: 1 1 40rem;
}

.faqs .row .content .box{
    margin-top: 2rem;
}

.faqs .row .content .box h3{
    font-size: 2rem;
    color: var(--primary);
    padding: 1.5rem;
    cursor: pointer;
}

.faqs .row .content .box p{
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    line-height: 2;
    color: var(--secondary);
    box-shadow: var(--box-shadow);
    display: none;
}


 

.faqs .row .content .box.active p{
    display: inline-block;
}

/* end */
.reservation form{
    padding: 2rem;
    border: .2rem solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}

.reservation form .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.reservation form .container .box{
    flex: 1 1 40rem;
}

.reservation form .container .box p{
    font-size: 1.8rem;
    color: var(--primary);
}

.reservation form .container .box .input{
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: .2rem solid rgba(0, 0, 0, 0.1);
    color: var(--black);
}

/* footer */

.footer{
    background: var(--secondary);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    padding: 1rem 0;
    color: var(--primary);
}

.footer .box-container .box a{
    font-size: 1.6rem;
    display: block;
    color: var(--white);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--primary);
    padding-right: .5rem;
    
}

.footer .box-container .box a:hover{
    color: var(--primary);
    padding-right: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.dark_theme .footer .box-container .box a i{
    color: white;
    padding-right: .5rem;
    
}
.dark_theme .footer .box-container .box a {
    color: white;
    padding-right: .5rem;
    
}

.dark_theme .footer .box-container .box a:hover{
    color: var(--primary);
    padding-right: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.footer .share{
    padding-top: 2rem;
    text-align: center;
}

.footer .share a{
    color: var(--primary);
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    border: .1rem solid var(--primary);
    margin: .3rem;
}

.footer .share a:hover{
    color: var(--white);
    background: var(--primary);
    transform: rotate(360deg);
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    margin-top: 2.5rem;
    padding-top: 2rem;
    border-top: .1rem solid rgba(0, 0, 0, 0.3);
    color: var(--white);
}

.footer .credit span{
    color: var(--primary);
}

/* end */

/* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem 3rem;
    }

}

@media (max-width: 768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: var(--white);
        border-radius: .5rem;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .home .slide .content{
        width: 50rem;
    }

    .review .review-slider{
        width: 100%;
        padding: 1rem;
        padding-top: 15%;
    }

}
@media (max-width: 450px){

    html{
        font-size: 50%;
    }

    .home .slide .content{
        width: 30rem;
    }

    .home .slide .content h3{
        font-size: 3rem;
    }

}

/*dark mode button*/

.switch-box {
    position: fixed;
    bottom: 15px;
    right: 120px;
    z-index: 9999;
  }
  .switch-box .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: yellow;
    border: 1.5px solid #1FA2FF;
    transition: 0.4s;
  }


  .switch-box .slider::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: 0.4s;
    box-shadow: 0 0px 15px rgba(32, 32, 32, 0.2392156863);
    background: white url("../img/night.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .switch-box .slider.round {
    border-radius: 34px;
  }
  .switch-box .slider.round::before {
    border-radius: 50%;
  }
  .switch-box .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
  }
  .switch-box .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch-box input:checked + .slider {
    background-color: #1FA2FF;
  }
  .switch-box input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  .switch-box input:checked + .slider:before {
    transform: translateX(24px);
    background: white url("fa fa-moon-o");
    background-repeat: no-repeat;
    background-position: center;
  }
